@model IEnumerable<s00128808.Models.Club>

<html>
<head>
    <script>
        $(function () {
            $('table tr').click(function () {
                var id = this.id;
                $.ajax({
                    type: 'GET',
                    url: ''
                })
            }
          );
        });
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Clubs</div>
            <div class="panel-body" style="overflow-x:hidden; height:200px;">
                <table table-stripped table-condensed">
                    
                        @foreach (var item in Model)
                        {

                            <tr style="cursor:pointer" id="@item.ClubName"><td>@item.ClubName</td></tr>

                        }
                  
                </table>
            </div>

            </div>
        </div>
    </div>

</body>
</html>

